function Logger.reset 1
push constant 22
push constant 63
call Output.moveCursor 2
pop temp 0
label WHILE_EXP0
push local 0
push constant 63
lt
not
if-goto WHILE_END0
call Output.backSpace 0
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Logger.log_string 0
push argument 0
call Output.printString 1
pop temp 0
push constant 0
return
function Logger.log_int 0
push argument 0
call Output.printInt 1
pop temp 0
push constant 0
return
function Logger.log_coordinates 3
call Logger.reset 0
pop temp 0
push constant 0
pop local 0
push constant 1
call String.new 1
push constant 44
call String.appendChar 2
pop local 2
label WHILE_EXP0
push local 0
push constant 8
lt
not
if-goto WHILE_END0
push local 0
push argument 0
add
pop pointer 1
push that 0
pop local 1
push local 1
call Output.printInt 1
pop temp 0
push local 2
call Output.printString 1
pop temp 0
push local 0
push constant 1
add
pop local 0
goto WHILE_EXP0
label WHILE_END0
push local 2
call String.dispose 1
pop temp 0
push constant 0
return
